<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DLL;"/>
    </assemblyBinding>
  </runtime>
  <nlog>
    <variable name="logFilename" value="${basedir}/logs/${date:format=yyyy-MM-dd}.log" />
    <variable name="varLayout" value="[${longdate}][${level}][${logger}]: ${message}${exception:format=ToString}" />
    <targets>
      <target name="targetBuff" type="BufferingWrapper" bufferSize="50" flushTimeout="3000">
        <target name="logfile" type="File" layout="${varLayout}" fileName="${logFilename}" encoding="utf-8" />
      </target>
      <target name="targetArray" type="Memory" layout="${varLayout}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="targetBuff" />
      <logger name="*" minlevel="Trace" writeTo="targetArray" />
    </rules>
  </nlog>
</configuration>

